/* #myPID{
    color:aqua;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.myPCLASE{
    color:red;
    background-color: sandybrown;
    font-family: cursive;
} */
[name=myPNAME]{
    color: white;
    background-color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td{
    color:#0000ff;
}
#naranja{
    color: #ffa500;
}
.rojo{
    color: #ff0000;
}